.clearbtn {
  padding-right: 40px;
}
.clearbtn button {
  padding: 10px 20px;
  background-color: #14b3a7;
  border: 1px solid #14b3a7 !important;
  color: #ffffff;
  border-radius: 3px;
}
.clearbtn button:hover {
  color: #14b3a7;
  background-color: transparent;
}
.badgeNew {
  position: absolute;
  top: -10px;
}
.nla_form_field_block input::placeholder {
  color: #acb0b1 !important;
}

/* .nla_form_field_block select {
  color: #acb0b1 !important;
} */
/* .nla_form_field_block select[required] option:first-child {
  color: #acb0b1;
} */
.nla_form_field_block select:invalid {
  color: #acb0b1;
}
.design-studio-topbar .btn-wrapper .btn:hover svg path {
  stroke: #174f73;
}
.nla_accordion-content-title-with-filter-block .nla_heading a {
  display: inline-block;
  margin-right: 10px;
}
.nla_brand_logo h3 {
  color: #174f73;
}
.nla_action {
  width: 60%;
  text-align: center;
}
.nla_date{
  width:15%;
}
.rs-picker-daterange.rs-picker-cleanable.rs-picker-has-value .rs-picker-toggle{
  border-color: #f3f9fa;
    background-color: #f3f9fa;
    margin-bottom: 17px;
    border-radius: 10px;
    padding: 17px 20px;
    color: #111111;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-select option{
  background: rgba(0, 0, 0);
  color:#fff
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value{
  color:#111 !important;
}
.nla_form_field_block datalist option{
  background: rgba(0, 0, 0);
  color:#fff
}
.rs-picker-toggle-wrapper{
display:flex;align-items:center;
}
.rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
  top:15px !important;
}
.rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
  top:15px !important;
}
.nla_form_field_block option{
  background: rgba(0, 0, 0);
  color:#fff
}
.my-option:hover{
   background-color:'red';
}
input[list] {
	color:black;
	background-color:white;
}