/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .custom-checkbox input[type="checkbox"]:checked + label:before {
  background: #174f73;
}
.introjs-tooltip nav {
  position: absolute;
  left: 20px;
  bottom: 24px;
}
.introjs-tooltip nav button {
  background-color: transparent;
  border: 1px solid #14b3a7;
}
.introjs-tooltip nav .reactour__dot--is-active {
  background-color: #174f73;
  border-color: #174f73;
}
.introjs-tooltip .dQinJb {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}
.introjs-tooltip .dQinJb button {
  margin-right: 10px;
  font-weight: 600;
  font-size: 13px;
  margin-left: 0px;
}
.introjs-tooltip .dQinJb button:last-child {
  margin-right: 0px;
}
.introjs-tooltip .dQinJb .bfsibc {
  color: #174f73;
}
.introjs-tooltip .dQinJb .gNpmfP {
  color: #174f73;
} */

/* Step1 */
/* .hgeoQC {
  left: 15px !important;
  position: fixed !important;
} */
/* 
.step3 {
  left: -10px !important;
  position: absolute !important;
}

#___reactour .hgeoQC {
  left: 15px !important;
  position: fixed !important;
} */
